/**
 * admin.css
 */

ul {
  margin-top: 0;
}

.admin-icon-yellow {
  color: #ffbe40;
}

.admin-header {
  font-size: 1.4rem;
  margin-bottom: 0;
}

.admin-header-list a:hover :after {
  content: none;
}

.admin-main {
  background: #f3f3f3;
}

.admin-menu {
  position: fixed;
  z-index: 10;
  bottom: 30px;
  right: 20px;
}

.admin-sidebar {
  width: 260px;
  min-height: 100%;
  float: left;
  border-right: 1px solid #cecece;
}

.admin-sidebar-list {
  margin-bottom: 0;
}

.admin-sidebar-list li a {
  color: #5c5c5c;
  padding-left: 24px;
}

.admin-sidebar-list li:first-child {
  border-top: none;
}

.admin-sidebar-sub {
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0 16px 8px -15px #e2e2e2 inset;
  background: #ececec;
  padding-left: 24px;
}

.admin-sidebar-sub li:first-child {
  border-top: 1px solid #dedede;
}

.admin-sidebar-panel {
  margin: 10px;
}

.admin-content {
  width: auto;
  overflow: hidden;
  height: 100%;
  background: #fff;
}

.admin-content-list {
  border: 1px solid #e9ecf1;
  margin-top: 0;
}

.admin-content-list li {
  border: 1px solid #e9ecf1;
  border-width: 0 1px;
  margin-left: -1px;
}

.admin-content-list li:first-child {
  border-left: none;
}

.admin-content-list li:last-child {
  border-right: none;
}

.admin-content-table a {
  color: #535353;
}
.admin-content-file {
  margin-bottom: 0;
  color: #666;
}

.admin-content-file p {
  margin: 0 0 5px 0;
  font-size: 1.4rem;
}

.admin-content-file li {
  padding: 10px 0;
}

.admin-content-file li:first-child {
  border-top: none;
}

.admin-content-file li:last-child {
  border-bottom: none;
}

.admin-content-file li .am-progress {
  margin-bottom: 4px;
}

.admin-content-file li .am-progress-bar {
  line-height: 14px;
}

.admin-content-task {
  margin-bottom: 0;
}

.admin-content-task li {
  padding: 5px 0;
  border-color: #eee;
}

.admin-content-task li:first-child {
  border-top: none;
}

.admin-content-task li:last-child {
  border-bottom: none;
}

.admin-task-meta {
  font-size: 1.2rem;
  color: #999;
}

.admin-task-bd {
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.admin-content-comment {
  margin-bottom: 0;
}

.admin-content-comment .am-comment-bd {
  font-size: 1.4rem;
}

.admin-content-pagination {
  margin-bottom: 0;
}
.admin-content-pagination li a {
  padding: 4px 8px;
}

@media only screen and (min-width: 641px) {
  .admin-sidebar {
    display: block;
    position: static;
    background: none;
  }

  .admin-offcanvas-bar {
    position: static;
    width: auto;
    background: none;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .admin-offcanvas-bar:after {
    content: none;
  }
}

@media only screen and (max-width: 640px) {
  .admin-sidebar {
    width: inherit;
  }

  .admin-offcanvas-bar {
    background: #f3f3f3;
  }

  .admin-offcanvas-bar:after {
    background: #BABABA;
  }

  .admin-sidebar-list a:hover, .admin-sidebar-list a:active{
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -ms-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
    background: #E4E4E4;
  }

  .admin-content-list li {
    padding: 10px;
    border-width: 1px 0;
    margin-top: -1px;
  }

  .admin-content-list li:first-child {
    border-top: none;
  }

  .admin-content-list li:last-child {
    border-bottom: none;
  }

  .admin-form-text {
    text-align: left !important;
  }

}

/*
* user.html css
*/
.user-info {
  margin-bottom: 15px;
}

.user-info .am-progress {
  margin-bottom: 4px;
}

.user-info p {
  margin: 5px;
}

.user-info-order {
  font-size: 1.4rem;
}

/*
* errorLog.html css
*/

.error-log .am-pre-scrollable {
  max-height: 40rem;
}

/*
* table.html css
*/

.table-main {
  font-size: 1.4rem;
  padding: .5rem;
}

.table-main button {
  background: #fff;
}

.table-check {
  width: 30px;
}

.table-id {
  width: 50px;
}

@media only screen and (max-width: 640px) {
  .table-select {
    margin-top: 10px;
    margin-left: 5px;
  }
}

/*
gallery.html css
*/

.gallery-list li {
  padding: 10px;
}

.gallery-list a {
  color: #666;
}

.gallery-list a:hover {
  color: #3bb4f2;
}

.gallery-title {
  margin-top: 6px;
  font-size: 1.4rem;
}

.gallery-desc {
  font-size: 1.2rem;
  margin-top: 4px;
}

/*
 404.html css
*/

.page-404 {
  background: #fff;
  border: none;
  width: 200px;
  margin: 0 auto;
}


/*
 fixed-layout 固定头部和边栏布局
*/

.fixed-layout,
.fixed-layout body {
  height: 100%;
  overflow: hidden;
}

.fixed-layout .admin-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1500;
}

.fixed-layout .admin-main {
  position: relative;
  height: 100%;
  padding-top: 51px;
}

.fixed-layout .admin-content,
.fixed-layout .admin-sidebar {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.fixed-layout .admin-sidebar.am-active {
  z-index: 1600;
}


/* Write your styles */
.vld-tooltip {
  position: absolute;
  z-index: 1000;
  padding: 0 15px;
  height: 30px; line-height: 30px;
  border-radius: 3px;
  background: rgba(0,0,0,0.8);
  color: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
  display: none;
  font-size: 12px;
}

.vld-tooltip:before {
  position: absolute;
  top: 30px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -6px;
  content: "";
  border-width: 8px 6px;
  border-color: rgba(0,0,0,0.8) transparent transparent;
  border-style: solid;
}

li{ list-style: none;}
body{ font-size: 1.4rem;}

.menu_item .active{ background: #0e90d2; color: #fff; font-weight: bold;}

address, blockquote, dl, fieldset, figure, hr, ol, ul{ padding: 0; margin: 0;}
.am-g .am-g{ margin-left: 0; margin-right: 0;}
.admin-content{ width: 1000px;}
.admin-content .am-padding{ padding-right: 0;}
.admin-content .am-u-lg-8:first-child{ width: 660px; padding-left: 0; }
.admin-content .am-u-lg-4:last-child{ width: 295px; padding-left: 0; padding-right: 1.6rem; -webkit-box-sizing: content-box; box-sizing: content-box; }
.admin-content .am-u-lg-12:first-child{ padding-left: 0;}

.center-preview{ padding-left: 74px; }
.center-preview .preview{ margin: auto;}
.center-preview .page-link{ width: 60%; margin: auto; padding-right: 74px;}
.center-preview .show-code{ padding-right: 74px;}

.preview{ width: 368px; height: 773px; background: url(../images/phone-frame.png) no-repeat; -webkit-transform:scale(0.8);-moz-transform:scale(0.8);-o-transform:scale(0.8); -ms-transform:scale(0.8); transform:scale(0.8); -webkit-transform-origin:top left;  -moz-transform-origin:top left; -ms-transform-origin:top left; -o-transform-origin:top left; transform-origin:top left;}
.preview .back{ position: absolute; left: 24px; top: 116px; height: 30px; width: 60px; text-align: center; text-indent: -999em;}
.preview iframe{ margin:151px 0 0 24px; width: 640px; height: 1006px; -webkit-transform:scale(0.5);-moz-transform:scale(0.5);-o-transform:scale(0.5); -ms-transform:scale(0.5); transform:scale(0.5); -webkit-transform-origin:top left;  -moz-transform-origin:top left; -ms-transform-origin:top left; -o-transform-origin:top left; transform-origin:top left;}
.show-code{ margin-top: -140px; text-align: center;}
.show-code img{ display: block; margin: auto;}
.page-link{ width: 100%; margin-top: 10px; padding-left: 0; }
.page-link :first-child{ padding-left: 0; padding-right: 0.5em; }
.page-link input:first-child{ padding-left: 0.5em;}

.fxs-search .am-u-lg-10{ padding-left: 0;}
.fxs-search .am-u-lg-2{ padding: 0; }
.fxs-search .am-btn{ width: 100%;}
.fxs-list li{ padding: 10px 0px 40px; border-bottom:1px solid #5fb7e9; font-size: 0; overflow: hidden; position: relative;}
.fxs-list li .pic{ display: inline-block; width: 68px; height: 68px; vertical-align: middle; overflow: hidden;}
.fxs-list li .name{ font-size: 1.4rem; display: inline-block; text-align: center; padding: 0 10px; width: 150px; word-break:break-all;}
.fxs-list li .active-status{ display: inline-block; background: #e4e9ed; color: #a0a0a0; height: 36px; width: 152px; border-radius:18px; padding: 2px 12px 2px 2px; font-size: 1.4rem;}
.fxs-list li .active-status i{ display: inline-block; width: 32px; height: 32px; line-height: 32px; border-radius: 50%; margin-right: 8px; background: #9f9f9f; color: #fff; text-align: center;}
.fxs-list li .active-status.active{ color: #5fb7e9;}
.fxs-list li .active-status.active i{ background: #5fb7e9;}
.fxs-list li .code-link{ display: inline-block; width: 142px; vertical-align: middle; text-align: center;}
.fxs-list li .bind-btn{ width: 110px; }
.fxs-list li .copy-link{ position: absolute; right: 50px; left: 0; bottom: 10px; padding-right: 50px; display: block; width: 100%; line-height: 20px; font-size: 1.4rem; overflow: hidden; white-space:nowrap; color: #7d7d7d; }
.fxs-list li .copy-link-btn{ position: absolute; right: 0px; bottom: 10px; padding-right: 0px; padding-left: 16px; text-align: right; line-height: 20px; font-size: 1.4rem; background: #fff; color: #333; cursor: pointer; }

.salon-info-edit label span{ font-size: 12px; color: #999; }
.salon-info-edit input.am-form-field{ font-size: 14px; padding: 12px;}
.salon-info-edit .submit-btn{ width: 120px;}

.work-list li { padding: 0px 30px 20px 0; margin-left: -10px;}
.work-list li img{ width: 100%; }

.admin-content .system-container{ padding-right: 1.6rem;}
.system-container .am-list li:first-child{ border-top:none;}
.system-container .am-list li a{ padding: 0; color: #333;}
.system-content{ width: 100%;}

.admin-content .charts-content{ padding-right: 1.6rem;}
.charts-head>tbody>tr>th{ border-top: none;}
.charts-content .am-table{ margin-bottom: 0; }
.charts-content .am-table td, .charts-content .am-table th{ padding: 1rem;}
.charts-content .am-panel-collapse{ overflow: hidden;}
.charts-content .am-panel-collapse .am-panel-bd{ height: 400px;}
.charts-content .user-pic{ display: inline-block; height: 60px; width: 60px; overflow: hidden;}
.charts-content .user-pic img{ width: 100%; min-width: 60px;}
.charts-content .shop-logo{ line-height: 60px; color: #333; border:2px solid #0e90d2;}

.bill-content .selcet-date{ font-size: 0;}
.bill-content .selcet-date .am-form-field{  width: 120px; display: inline-block; margin-right: 10px; }

.img-container { height: 400px; margin-bottom: 1.6rem;}
.img-operation-btns{ font-size: 0;}
.img-operation-btns .am-btn{ margin-right: 10px;}
.sr-only{position: absolute; display: block; width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip: rect(0,0,0,0);border: 0;}
